@import url(./root.css);
@import url(./utility.css);
.documentation-container {
  /* border: 1px solid red; */
  display: flex;
  padding: var(--u-20) 0;
  font-family: var(--tertiary-font);
}

.sidebar {
  flex-basis: 200px;
}

.intro-list {
  padding-left: var(--u-10);
  margin-bottom: var(--u-20);
  font-size: var(--text-sm);
  font-family: var(--primary-font);
}

.intro-list > ul > li > a {
  display: block;
  padding-top: var(--u-10);
}

.intro-list > ul > li > a:hover {
  color: var(--color-primary);
  transition: 0.3s ease-in-out;
}

.active-link a {
  color: var(--color-primary);
  font-weight: 500;
}

.documentation-component {
  flex-grow: 1;
  max-width: 560px;
  font-family: var(--tertiary-font);
}

.content-title {
  font-size: var(--text-3xl);
  margin-bottom: var(--u-20);
}

.content-subtitle {
  font-size: var(--text-2xl);
  margin-bottom: var(--u-10);
}

.content-description {
  font-size: var(--text-base);
  margin-bottom: var(--u-20);
}

.component-display {
  background-color: var(--color-tertiary);
  margin-top: var(--u-10);
  margin-bottom: var(--u-24);
  padding: var(--u-20) var(--u-10);
  border-radius: var(--rounded-md);
  border: var(--u-1) solid var(--color-secondary-tint);
}

.highlighted-text {
  background-color: var(--color-secondary);
  color: var(--color-dark);
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--text-sm);
}

.code-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
  padding-top: var(--u-14);
  margin-bottom: var(--u-24);
  border-radius: var(--rounded-md);
  border: var(--u-1) solid var(--color-secondary-tint);
}
.respHam {
  display: none;
}

.respSidebar {
  display: none;
  width: 0px;
  cursor: pointer;
}

/* ---------------------Media queries-------------------- */
@media screen and (max-width: 620px) {
  .sidebar {
    display: none;
  }
  .respHam {
    display: inline;
    cursor: pointer;
  }

  .respSidebar {
    width: 50%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: var(--u-20);
    padding-left: var(--u-10);
    margin-top: var(--u-24);

    background-color: var(--color-light);
    font-family: var(--primary-font);

    position: absolute;
    overflow: visible;
    z-index: 8;
  }
  .respSidebar h3 {
    font-size: var(--text-base);
  }
}
